@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lexend';
    src: url('Lexend.ttf');
}

* {
    font-family: 'Lexend';
}

body {
    background: radial-gradient(ellipse at 0% 60%, rgba(84, 171, 113, 0.35) 0%, rgba(255, 0, 0, 0) 60%);

}

h2 {

    color: #ddece4;
}

.rem-1 {
    display: none;
}

.rem-2:focus .rem-1 {
    display: block;
}

.heroText {
    color: white;
    text-shadow: -1.2px 1.2px 0 #287a55,
        1.2px 1.2px 0 #287a55,
        1.2px -1.2px 0 #287a55,
        -1.2px -1.2px 0 #287a55;
}


.yuti::-webkit-scrollbar {
    height: 10px;
}

.yuti::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid #dddddd;
}

.yuti::-webkit-scrollbar-thumb {
    background: #4cb485;
    border-radius: 10px;
}